<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page | Hafiz Furqan</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}" />
  </head>
  <body>
    <div class="navbar">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
