<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% if title %}
        {{ title }}
      {% else %}
        My Portfolio | Hafiz Furqan
      {% endif %}
    </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'portfolio/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'portfolio/css/line-awesome.min.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
        <ul>
          <li><a href="{% url 'portfolio-home' %}">Home</a></li>
          <li><a href="{% url 'portfolio-about' %}">About</a></li>
          <li><a href="{% url 'portfolio-services' %}">Services</a></li>
          <li><a href="{% url 'portfolio-contact' %}">Contact</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
    
    <footer>
      <ul>
        <li>
          <a href="https://www.facebook.com">
            <i class="lab la-facebook la-2x"></i>
          </a>
        </li>
        <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>
