<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page | Hafiz Furqan</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'portfolio/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'portfolio/css/line-awesome.min.css' %}" />
  </head>
  <body>
    <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="{% url 'portfolio-contact' %}">Contact</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
    
    <footer>
      <ul>
        <li>
          <a href="https://www.facebook.com">
            <i class="lab la-facebook la-2x"></i>
          </a>
        </li>
        <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </footer>
  </body>
</html>
